// case study block
// ================

.case-study {
	.text-inner .component-inner {
		color: @primary-color;
		background-color: @white;
	}
}

// article reveal buttons 
// ======================

.article-reveal-buttons {
	background: url('../../course/en/images/revealbar.png') center top no-repeat;
	.media-component .media-transcript {
		background-color: @primary-color!important;
		display: inline-block;
		margin: 20px;
		&:hover {
			background-color: @grey!important;
		}
	}
}
.article-reveal-open-button {
	background-color: @primary-color!important;
	&:hover {
		background-color: @grey!important;
	}
}


.article-reveal {
	.article-reveal-text-container-title {
		font-weight: 900;
		color:#0085bc;
	}
	.article-reveal-text-container-body {
		font-weight:bold;
		color:#0085bc;
		line-height: 19px;
		padding-bottom: 10px;
		padding-top: 10px;
	}
	
	 .article-reveal-text-container {
	 	padding-right: 130px;
			@media all and (max-width:850px) {
				padding-right:30px;
			}
	 }
}